a {
    color: #0D785B;
    text-decoration: none;
}


/* unvisited link */
a:link {
    color: #0D785B;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #0D785B;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #50BF9E;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #0D785B;
    text-decoration: none;
}